<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vélo</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body> 
    <div class="navbar">
        <div class="brand">Vélo</div>
    </div>
    <div class="home-div">
        <div class="content">
            <h1 style="font-size: 70px; margin-bottom: -20px;">VéloParking</h1>
            <p style="color: #45c245; margin-bottom: 40px;">The application for all your bicycle parking needs</p>
        <a class="home-btn" href="/account">
            login
        </a>
        </div>
    </div>
</body>
</html>